<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog Homepage</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
      <nav>
        {{#if session.loggedIn}}
        <a href="/dashboard">My dashboard</a>
        <a href="/signout">signout</a>
        <a class="active" href="/" >Homepage</a>
        
        {{else}}
        <a href="/login">login</a>
        <a href="/signup">signup</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Made with &hearts;
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>
