<section>
  <h2 class="font-bold">Create Your Own Post</h2>
  <p>Add a title, post, and a link to what assisted you or your GitHub
    repository.</p>

  <form class="new-post-form" method="post" action="/post">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post_title" />
    </div>
    <div>
      <label for="post-body">Post</label>
      <input type="text" id="post-body" name="post_body" />
    </div>
    <button type="submit" class="btn">Make Post</button>
  </form>

  {{#if posts.length}}
    <section>
      <h2>Your Past Posts</h2>
      <ol>
        {{#each posts as |post|}}
          <a href="/post/{{post.id}}" class="clickable-link">
            <li>
              <div class="postDiv">

                <div class="postID">
                  {{post.id}}.
                  {{post.title}}.
                </div>

                <div class="postContent">
                  {{post.post}}

                </div>

              </div>

            </li>
          </a>
        {{/each}}
      </ol>
    </section>
  {{/if}}
</section>

{{! <script src="/javascript/add-post.js"></script> }}