<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form" method="post">
    <div>
      <input name="title" type="text" value="{{post.title}}" />
      <input name="post" type="text" value="{{post.post}}" />
    </div>

    <button type="submit" class="btn">Edit Post</button>

  </form>
</article>