<h1>Tech blog Homepage</h1>

<nav class="topnav">
  <a class="active" href="/homepage" >Homepage</a>
  <a href="/dashboard">dashboard</a>
  <a href="/signout">Log out</a>
    </nav>

{{#each posts as |post|}}
<div class="postDiv">

    
        {{post.id}}.
        {{post.author}}.
        {{post.content}}

</div><br>
{{/each}}