<h1>Tech blog Homepage</h1>

{{#each posts as |post|}}
  <a href="/post/{{post.id}}" class="clickable-link">
    <div class="postDiv">

      <div class="postID">
        {{post.id}}.
        {{post.author}}.
      </div>

      <div class="postContent">

        {{post.content}}
      </div>

    </div>
  </a>
  <br />

{{/each}}