<div class="flex justify-center">
    <form class="login-form" method="post">
        <div>
            <label for="username-login">username:</label>
            <input name="user_username" value="{{user_username}}" type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">password:</label>
            <input  name="user_password" type="password" id="password-login" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>

        <p>
            {{error}}
        </p>
    </form>
</div>