 <div class="postDiv">

    <div class="postID">
        {{post.id}}.
        {{post.title}}.
    </div>

    <div class="postContent">
        {{post.post}}

    </div>

</div>

<div class="comment">
    <form class="comment_form" method="post" action="/comment">
    <input type="hidden" value="{{post.id}}" name="post_id">
  <div>
    <textarea name="comment_body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
</div>