<div class="flex justify-center">
    <form class="signup-form" method="post">
        <div>
            <label for="username-signup">username:</label>
            <input name="user_username" type="text" id="username-signup" />
        </div>
        <div>
            <label for="password-signup">password:</label>
            <input  name="user_password" type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit">signup</button>
        </div>
    </form>
</div>