* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: #BFC0C0;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #648767;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: #CEE7E6;
  }
  
  button {
    background-color: #648767;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #CEE7E6;
    color: black;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #BFC0C0;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 5px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 30px;
  }
  
  main {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    color: #648767;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #CEE7E6;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
    background-color: #648767;
  }

  .post .title {
    font-weight: bold;
    font-size: 20px;
  }

  .post p {
    font-weight: normal;
    font-size: 15px;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .upvote-btn {
    background-color: #7DC95E;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #7CDF64;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }

  .new-post-form{
    background: #648767;
  }

  #post-body input{
    height: 300px; 
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .new-post-form div {
    display: flex;
    justify-content: center;
    font: 15px;
    font-weight: bold;
  }

  .edit-post-form {
    margin-bottom: 5%;
  }
  
  h2 {
    display: flex;
    justify-content: center;
  }

  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }

  .postDiv{
    display: block;
  }